.nav-item li,
.active {
  position: relative;
  transition: 0.3s;
}
.nav-item li a {
  color: black;
}
.nav-item li:hover::before {
  width: 100%;
}
.active::before {
  content: "";
  position: absolute;
  bottom: -5px;
  width: 100%;
  height: 4px;
  background-color: #ff4719;
  transition: 0.3s;
}

.nav-item li::before {
  content: "";
  position: absolute;
  bottom: -5px;
  width: 0%;
  height: 4px;
  background-color: #ff4719;
  transition: 0.3s;
}
