:root {
  --main-login-color: #308c9c;
  --secondary-login-color: #e3e3e3;
  --text-gray-color: #404252;
  --border-gray-color: #0000006d;
}

form {
  width: 400px;
  height: 400px;
  padding: 1em;
  background-color: var(--secondary-login-color);
  border-radius: 10px;
}
form h2 {
  text-align: center;
  color: var(--main-login-color);
}
form .form-data {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
form .form-data input {
  height: 40px;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid var(--border-gray-color);
  border-radius: 10px;
}
form .form-data input:focus {
  outline: 1px solid var(--main-login-color);
}
form .form-data:last-child input {
  height: auto;
  width: auto;
  padding: 10px 15px;
  background-color: var(--main-login-color);
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.3s all;
}
form .form-data:last-child input:hover {
  transform: scale(110%);
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.263);
}
form .form-data label {
  color: var(--text-gray-color);
  font-size: 0.85rem;
  align-self: flex-start;
}
form #error {
  color: red;
  font-size: 0.7rem;
  text-align: center;
}
form p {
  text-align: center;
  font-size: 0.85rem;
}
form a {
  margin-left: 10px;
  color: rgb(79, 79, 250);
}
form a:hover {
  text-decoration: underline;
  cursor: pointer;
}
